.btn {
  padding: 10px 40px;
  background-color: $secondaryColor;
  color: $textColor;
  margin: 15px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn:hover {
  color: $secondaryColor;
  background-color: $textColor;
}
